<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Darius Image Transformer</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <h1>Darius Pixel Transformer</h1>
    <p>Upload any image and watch it transform into Darius.</p>

    <label class="upload-button">
        Upload Image
        <input type="file" id="upload">
    </label>

    <div class="canvas-container">
        <canvas id="canvas" width="512" height="512"></canvas>
    </div>

</div>

<script src="/static/animate.js"></script>

</body>
</html>